@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #101010;
  --font: #efefef;
  --highlight: #d0ff00;
  --triadic1: #00d0ff;
  --triadic2: #ff00d0;
  --analogous1: #50ff00;
  --analogous2: #ffaf00;
  --hello: #091c00;
}

* {
  @apply transition-all duration-300 ease-out;
}

body {
  background-color: var(--background);
  color: var(--font);
  font-weight: 400;
  letter-spacing: 1px;
  background-image: url(/grid.svg);
}

h1 {
  letter-spacing: 2px;
}

p {
  letter-spacing: -0.3px;
}

.xtext {
  @apply text-[#D0FF00];
}

.xbtn {
  @apply bg-[#D0FF00] text-black hover:bg-[white] active:bg-[#50ff00] active:shadow-none rounded-lg font-medium text-center shadow;
}

.btn {
  @apply bg-[#7d7d7d] text-black hover:bg-[white] active:bg-[#50ff00] active:shadow-none rounded-lg font-medium text-center shadow;
}

nav a {
  @apply text-zinc-400 hover:text-[#D0FF00] active:text-[#50ff00];
}
