@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #101010;
  --font: #efefef;
  --highlight: #d0ff00;
  --triadic1: #00d0ff;
  --triadic2: #ff00d0;
  --analogous1: #50ff00;
  --analogous2: #ffaf00;
  --hello: #091c00;
}

* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply transition-all duration-150 scroll-smooth;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--background);
  color: var(--font);
  font-weight: 400;
  letter-spacing: 1px;
  background-image: url(/grid.svg);
  background-size: contain;
  background-position: top;
  min-height: 100vh;
}

h1 {
  letter-spacing: 2px;
}

p {
  letter-spacing: -0.3px;
}

.xtext {
  @apply text-[#D0FF00];
}

.xbtn {
  @apply bg-[#D0FF00] text-black hover:bg-[white] active:bg-[#50ff00] active:shadow-none rounded-lg font-medium text-center shadow;
}

.btn {
  @apply bg-[#7d7d7d] text-black hover:bg-[white] active:bg-[#50ff00] active:shadow-none rounded-lg font-medium text-center shadow;
}

nav a {
  @apply text-zinc-400 hover:text-[#D0FF00] active:text-[#50ff00];
}

#dashboard input {
  @apply w-full bg-[#262626] px-3 py-2 mt-2 border rounded-lg shadow-sm outline-none focus:border-[green];
}
